body{
    font-family: "Noto Sans CJK TC, 微軟正黑體, sans-serif";
}

p{
    margin-bottom: 0;
}

.section_title{
    margin-bottom: 6px;
    span{
        font-family: "Noto Sans CJK TC, 微軟正黑體, sans-serif";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.section_body{
    p{
        color: var(--Text-Color-, #000E2E);
        text-align: justify;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        white-space: pre-line;
    }
}

/*----- tablet 768px -----*/
@media screen and (min-width:768px) {
    .container-fluid{ 
        --bs-gutter-x: 5rem;
    }

    .section_title{
        span{
            font-size: 2.25rem;
        }
    }

    .section_body{
        p{  
            font-size: 1.5rem;
        }
    }
}

/*----- desktop 1366px -----*/
@media (min-width:1366px) {
    .container-fluid{ 
        --bs-gutter-x: 12.5rem;
    }

    .section_title{
        span{
            font-size: 1.5rem;;
        }
    }

    .section_body{
        p{  
            font-size: 1.125rem;
        }
    }
}