.navbar{
        &.mobile-header{
                display: flex;
        }

        &.desktop-header{
                display: none;
        }

        .menu-bar{
                background-image: url(../images/menu.svg);        
                width: 24px;
                height:24px;
        }

        .hr{
                border: 1px solid #afb6c7;
        }
}

.navbar-brand{    
        display: flex;
        align-items: center;
        position: relative;
        font-size: 10px;
        font-weight: 500;
        font-family: "Noto Sans CJK TC, 微軟正黑體, sans-serif";
        color: #fff;
        text-align: left;
        // text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;    
        
        img{
                width: 32px;
                height: 24px;
        }

        p{
                margin-left: 5px;
        }

        
        
}

.navbar-toggler {
        &:focus {
                box-shadow: none;
        }
}

.navbar-nav{
        .nav-item{
                line-height: 54px;
                a{
                        color:#000E2E;
                        text-decoration: none;
                        font-family: "Noto Sans CJK TC, 微軟正黑體, sans-serif";
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                }
                .dropdown-toggle{
                        float: right;
                }
        }
}

.navbar-collapse{
        background-color: #E4E7EE;
}

.offcanvas-header{
        background-color: #E4E7EE;
}

.offcanvas-body{
        background-color: #E4E7EE;
        padding:1.25rem 1.875rem 3rem 1.875rem;
}

.index_menu-dropdown{
        .dropdown-menu{
                padding:0;
                background-color:rgba(0, 0, 0, 0);
                border-radius: 0;
                border: none;

                li{
                        width: 100%;
                        // &:not(:last-child) {
                        //         margin-bottom: 10px;
                        margin-bottom: 10px;
                }

                .dropdown-item{
                        padding:0;
                        line-height: normal;
                        font-size: 0.75rem;
                        color: #000E2E;
                        font-weight: 400;
                        &:active{
                                background-color: transparent;
                        }
                }
        }
}


/*----- tablet 768px -----*/
@media screen and (min-width: 768px) {       

        .navbar-brand{    
                font-size: 16px;
                
                img{
                        width: 50px;
                        height: 36px;
                }
        }

        .navbar .menu-bar {
                width: 28px;
                height: 28px;
                background-repeat: revert;
                background-size: cover;
        }

        .navbar-nav{
                .nav-item{
                        line-height: 56px;
                        a{
                                font-size: 28px;                                
                        }                        
                }
        }

        .index_menu-dropdown{
                .dropdown-menu{                        
                        li{
                                &:last-child {
                                        margin-bottom: 15px;
                                }
                        }

                        .dropdown-item{                                                                
                                font-size: 1.25rem;
                                font-weight: 400;
                        }
                }
        }

        .offcanvas-end{
                width: 350px;
        }

        .offcanvas-body{
                padding:1.25rem 2.625rem 3rem 2.625rem;
        }

}

/*----- desktop 1366px -----*/
@media screen and (min-width: 1366px) {        

        .navbar{
                &.mobile-header{
                        display: none;
                }
        
                &.desktop-header{
                        display: flex;
                }
        }

        .navbar-brand {
                img{
                        width: 66px;
                        height: 48px;
                }

                p{
                        margin-left: 10px;
                        font-size: 1.25rem;
                }
        }

        .navbar-nav{
                flex-direction: row;
                gap:12px;

                .nav-item{
                        line-height: 86px;
                        a{
                                font-size: 1.25rem;
                                color: #fff;                                
                        }
                        
                        #dropdownMenuReference{
                                padding-right: 0;
                        }
                }

                .btn-group{
                        vertical-align: initial;
                }

        }

        .index_menu-dropdown{
                .dropdown-menu{
                        padding:30px;
                        background-color:#E4E7EE;
                        margin-top: -0.5rem;
                        border-radius: 0.5rem;

                        .dropdown-item{                                                                
                                font-size: 1.25rem;
                        }
                }
        }
}