.sub_service_item_bg {
    
    position: relative;

    img{
        width: 100%;
        height: 230px;
    }

    div{
        position: absolute;
        top: 30px;
        
    }

    p{
        color: #FFF;
        font-family: "Noto Sans CJK TC, 微軟正黑體, sans-serif";
        font-size: 2rem;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
        position: relative;
        white-space: pre-line;
    }
}

.sub_service_item{
    width: 100%;    
    padding: 16px 0;

    .section_title{            
        span{
            font-size: 1.25rem;
        }
    }
    
    .section_body{
        p{  
            font-size: 0.75rem;
        }
    }

    .back_button {
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;

        a{
            background-color: #24428A;
            color: #FFF;
            font-size: 0.75rem;
            padding: 10px 30px;
            text-decoration: none;
            border-radius: 20px;
            cursor: pointer;
            font-weight: bold;
        }
    }
}

.index_carousel_4_1{
    position: relative;
    padding: 16px 30px;
    
    .index_swiper_4_1 {
        width: 100%;
        
        .swiper-slide{            
            border-radius: 10px ;
            border: 0.5px solid rgba(175, 182, 199, 0.40);
            box-shadow: 2px 2px 2px 0px rgba(175, 182, 199, 0.50);

            img{
                width: 100%;
                // margin-bottom: 0.375rem;
                border-radius: 10px;
            }
        }
    }

    .swiper-button-prev{
        // --swiper-navigation-sides-offset: -22px;
        width:var(--swiper-navigation-size,44px);        
        color: #FFF;
        border-radius: 22px;
        border: 1px solid #E4E7EE;
        background: #162446;
        // left: var(--swiper-navigation-sides-offset, 10px);
        margin-top: calc(0px - 22px);
        &:after{
            font-size: 1.5rem;
            // transform: translateX(-4px);
        }
    }

    .swiper-button-next{
        // --swiper-navigation-sides-offset: -22px;
        width:var(--swiper-navigation-size,44px);        
        color: #FFF;
        border-radius: 22px;
        border: 1px solid #E4E7EE;
        background: #162446;
        // left: var(--swiper-navigation-sides-offset, 10px);
        margin-top: calc(0px - 22px);
        &:after{
            font-size: 1.5rem;
            // transform: translateX(4px);
        }
    }

    .slide_card{
        // min-height: 300px;
        height: auto;

        // .slide_card_body{
        //     padding: 20px 50px 30px 50px;
        // }        
    }

    .slide_title{
        display: none;
        margin-bottom: 24px;

        span{
            color: #000;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;            
        }
    }

    .slide_body{
        display: none;
        margin-bottom: 20px;

        p{
            color: #5B5B5B;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

}


/*----- tablet 768px -----*/
@media screen and (min-width: 768px) {
    .sub_service_item_bg {
        img{
            height: 380px;
        }
    
        p{
            font-size: 3.375rem;
            line-height: 72px;
        }
    }

    .sub_service_item{
        padding: 30px 0;

        .section_title{
            span{
                font-size: 1.75rem;
            }
        }
        
        .section_body{
            p{  
                font-size: 1.25rem;
            }
        }

        .back_button {
            a{
                font-size: 1.25rem;
            }
        }
    }
            
    .index_carousel_4_1{
        position: relative;
        padding: 32px 80px;

        .swiper-button-prev{
            --swiper-navigation-sides-offset: 24px;                    
            color: #162446;
            border: none;
            background: transparent;
            width: auto;
            height: auto;
            &:after{
                font-size: 4rem;
                // transform: translateX(-4px);
            }
        }
    
        .swiper-button-next{
            --swiper-navigation-sides-offset: 24px;                    
            color: #162446;
            border: none;
            background: transparent;            
            width: auto;
            height: auto;
            &:after{
                font-size: 4rem;
                // transform: translateX(4px);
            }
        }

        .slide_card{
            // min-height: 285px;
            height: auto;
        }

        .slide_title{
            span{
                font-size: 1.75rem;
            }
        }

        .slide_body{
            p{
                font-size: 1.25rem;
            }
        }
    }
    
}

/*----- desktop 1366px -----*/
@media screen and (min-width: 1366px) {
    
    
    .sub_service_item_bg {
        img{
            height: 480px;
        }

        p{
            font-size: 6rem;
            line-height: 120px;
        }
    }

    .sub_service_item {
        width: 100%;
        padding: 60px 0 25px 0;
        
        .section_title{
            span{
                font-size: 1.375rem;
            }
        }
        
        .section_body{
            p{  
                font-size: 1rem;
            }
        }

        .back_button {
            a{
                font-size: 1.5rem;
                border-radius: 30px;
            }
        }

    }
    .index_carousel_4_1{
        position: relative;
        padding: 50px 200px;
        
        .swiper-button-prev{
            --swiper-navigation-sides-offset: 84px;
        }
    
        .swiper-button-next{
            --swiper-navigation-sides-offset: 84px;
        }

        .slide_card{
            // min-height: 295px;
            height: auto;
        }

        .slide_title{
            span{
                font-size: 2.25rem;
            }
        }

        .slide_body{
            p{
                font-size: 1.5rem;
            }
        }
    }
}